{% extends 'admin/admin_base.html.twig' %}


{% block metatitle %} Ajouter une image
{% endblock %}


{% block main %}

    <h1> Ajouter une image dans la gallerie </h1>

    {{ form(pictureForm) }}

{% endblock %}