{% extends 'admin/admin_base.html.twig' %}


{% block metatitle %} Mettre à jour une image
{% endblock %}


{% block main %}

    <h1> Mettre à jour une image dans la gallerie </h1>

    {{ form(pictureUpdateForm) }}

{% endblock %}