
#headerTopBar {
  background-color: $limestone;
  padding: 10px 50px;
  @include flex($flex-dir:row, $justify:space-between);

  .search-container {
    width: 100%;
    max-width: 400px;


    form {
      display: flex;
      justify-content: space-between;
    }

    input[type="text"] {
      width: 100%;
      background-color: rgba( 115, 21, 52, 0.15);
      color: $claretRed;
      padding: 10px;
      border-radius: 15px 0 0 15px;
      font-size: 14px;
      outline: none;
    }

    button {
      padding: 9px 15px;
      border: none;
      background-color: rgba( 115, 21, 52, 0.5);
      // color: $limestone;
      font-size: 16px;
      border-radius: 0 15px 15px 0;
      cursor: pointer;
    }

    button:hover {
      background-color: $claretRed;
      i {
        color: $limestone;
      }
    }
  }

  .rightPart {
    @include flex($flex-dir: row, $justify: space-between);

      a {
        color: $claretRed;
        margin-right: 100px;


        .fa-circle-user {
          color: $claretRed;
          font-size: 18px;
          margin-right: 5px;
        }
      }

      #iconLanguage {
        width: 45px;
      }

  }
}

// ---------- Header barre rouge (basse)
#headerMainBar {
  background-color: $claretRed;

  .header-nav {
    padding: 25px 0;
    @include flex($justify: flex-start);

    ul.menu-burger {
      display: none;
      width: 30px;
      padding: 2%;
      position: relative;
      z-index: 3000;
      background-color: $limestone;
      border-radius: 10px;
    }

    ul.menu-burger li{
      margin: 5px 0;
      width: 100%;
      height: 3px;
      padding: 0;
      background-color: $claretRed;
      border-radius: 2px;
    }

    .logo {
      margin-left: 7%;
      margin-right: 12%;
      color: white;
      width: 4%;
      padding: 2% 3%;
      background-color: rgba( 115, 21, 52, 0.5);
      border-radius: 50px;
    }

    ul.nav {
      @include flex($flex-dir: row);

      li {
        padding: 0 2rem;
        text-transform: uppercase;
        font-size: 14px;
        text-align: start;
        color: $limestone;

        a {
          text-transform: uppercase;
          font-size: 14px;
          //font-weight: bold;
          text-align: center;
          color: $limestone;
        }

      }
    }
  }
}



// ---------- Header public | Sous-menu des activités

#activites-nav {
  .sous-menu-activites {
    display: none!important;
  }
}

#activites-nav:hover {
  position: relative;

  .sous-menu-activites {
    display: block!important;
    text-align: start;
    position: absolute;
    background-color: rgba( 115, 21, 52, 0.75);
    width: 350px;
    top: 0;
    left: 0;
    padding-top: 45px;
    padding-bottom: 10px;

    li {
      text-align: start;
      padding: 5px 0;

      a, i {
        color: rgba( 254, 239, 221, 0.7);
        padding-left: 30px;
        transition: transform 330ms ease-in-out;

      }
    }
    li:hover {
      i {
        transform: translateX(15px);
      }
      a {
        color: $limestone;
      }
    }
  }
}