
#headerTopBar {
  background-color: $limestone;
  padding: 10px 50px;
  @include flex($flex-dir:row, $justify:space-between);

  .search-container {
    width: 100%;
    max-width: 400px;


    form {
      display: flex;
      justify-content: space-between;
    }

    input[type="text"] {
      width: 100%;
      background-color: rgba( 115, 21, 52, 0.15);
      color: $claretRed;
      padding: 10px;
      border-radius: 15px 0 0 15px;
      font-size: 14px;
      outline: none;
    }

    button {
      padding: 9px 15px;
      border: none;
      background-color: rgba( 115, 21, 52, 0.5);
      // color: $limestone;
      font-size: 16px;
      border-radius: 0 15px 15px 0;
      cursor: pointer;
    }

    button:hover {
      background-color: $claretRed;
      i {
        color: $limestone;
      }
    }
  }

  .rightPart {
    @include flex($flex-dir: row, $justify: space-between);

      a {
        color: $claretRed;
        margin-right: 100px;


        .fa-circle-user {
          color: $claretRed;
          font-size: 18px;
          margin-right: 5px;
        }
      }

      #iconLanguage {
        width: 45px;
      }
  }
}


#headerMainBar {
  background-color: $claretRed;

  .header-nav {
    padding: 25px 0;
    @include flex($justify: flex-start);

    .logo {
      margin-left: 7%;
      margin-right: 12%;
      color: white;
    }

    ul {
      @include flex($flex-dir: row);

      li {
        padding: 0 2rem;

        a {
          text-transform: uppercase;
          font-size: 14px;
          //font-weight: bold;
          text-align: center;
          color: $limestone;
        }

      }
    }
  }
}