{% extends 'admin/admin_base.html.twig' %}


{% block metatitle %} Mettre à jour
{% endblock %}


{% block main %}

    <h1> Modifier la catégorie </h1>

    {{ form(categoryUpdateForm) }}

{% endblock %}