{% extends 'admin/admin_base.html.twig' %}


{% block metatitle %} Ajouter catégorie
{% endblock %}


{% block main %}

    <h1> Ajouter une catégorie </h1>

    {{ form(categoryForm) }}

{% endblock %}