.add-btn-style {
  background-color: rgba( 115, 21, 52, 0.7);
  color: $limestone;
  border-radius: 8px;
  padding: 8px 25px;
  display: block;
  text-align: center;
  width: 200px;
  margin: 12px auto;
}