.success-message {
  width: 100%;
  color: $limestone;
  //background-color: rgba(61, 220, 151, 0.7);
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.error-message {
  width: 100%;
  color: $limestone;
  //background-color: rgba(232, 55, 55, 0.7);
  background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);
  padding: 20px;
  font-size: 25px;
  text-align: center;
}