.admin-table {
  width: 95%;
  margin: auto;

  #myTable {

    thead {
        font-weight: bold;
        background-color: rgba(115, 21, 52, 0.3);
        height: 25px;
    }

    tbody {
      tr:nth-of-type(odd){
        background-color: rgba(115, 21, 52, 0.15);
      }
    }
  }

}



// Tableau des catégories
.pictoCategory {
  width: 3%;
}


// Tableau des activités
.photoAdminActivity {
  position: relative;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}


.td-flex {
  @include flex($justify: space-around);

  i {
    padding: 0 3px;
  }
}


// Tableau de la galerie photo
.pictureInGallery {
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


