@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

* {
  font-family: "Josefin Sans", sans-serif;
  color: #731534;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
body main {
  flex: 1;
}

form {
  margin-bottom: 30px;
}

h1 {
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  padding-top: 30px;
  margin-top: 50px;
  margin-bottom: 2%;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

h4 {
  font-size: 25px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1rem;
}

.styleTitle {
  position: relative;
  text-align: center;
  padding: 10px 0 10px 0;
  margin-top: 50px;
}

.styleTitle::before,
.styleTitle::after {
  content: "";
  position: absolute;
  width: 65%;
  height: 1px;
  background-color: #731534; /* Couleur de la ligne */
}

.styleTitle::before {
  right: 0;
  top: 0;
}

.styleTitle::after {
  left: 0;
  bottom: 0;
}

.small-font {
  font-size: 11px;
}

.profilePicture {
  border-radius: 55px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilePicture img {
  width: 100%;
  height: 100%; /* L'image occupe toute la hauteur du conteneur */
  object-fit: cover; /* Pour que l'image couvre tout le conteneur sans se déformer */
}

.cursor-pointer {
  cursor: pointer;
}

.fa-solid, .fa-regular {
  transition: all 0.5s ease-out;
}
.fa-solid:hover, .fa-regular:hover {
  transform: scale(1.3);
  color: black;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#carousel {
  background-color: rgba(87, 199, 223, 0.2);
  padding: 60px 0 7px 0;
  margin-top: 2%;
}

.owl-carousel {
  width: 70%;
  margin: auto;
}
.owl-carousel .view-activity {
  position: relative;
  width: 100%;
  height: 33vh;
}
.owl-carousel .view-activity .photo-activity {
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.owl-carousel .view-activity .photo-activity img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.owl-carousel .view-activity h3 {
  color: #FEEFDD;
  background-color: rgba(115, 21, 52, 0.4);
  padding: 4px;
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%;
}

.view-activity:hover .photo-activity::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.view-activity:hover .photo-activity img {
  filter: brightness(150%);
}
.view-activity:hover h3 {
  color: #731534;
  background-color: transparent;
  font-weight: bold;
  transform: scale(1.1);
}

.success-message {
  width: 100%;
  color: #FEEFDD;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.error-message {
  width: 100%;
  color: #FEEFDD;
  background: linear-gradient(107.2deg, rgb(255, 15, 123) 10.6%, rgb(248, 96, 41) 91.1%);
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.warning-message {
  width: 100%;
  color: #FEEFDD;
  background: linear-gradient(107.2deg, rgb(255, 215, 138) 10.6%, rgb(244, 118, 45) 91.1%);
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 400;
}

.popup-confirmation-delete, .popup-confirmation-block {
  display: none;
  position: fixed;
  background-color: #FEEFDD;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 100px;
  text-align: center;
  z-index: 500;
}
.popup-confirmation-delete p, .popup-confirmation-block p {
  margin-bottom: 25px;
}

.a-style-popup {
  background-color: rgba(115, 21, 52, 0.9);
  color: #FEEFDD;
  padding: 10px 15px;
  margin: 15px 10px;
}

.js-close-popup {
  background-color: rgba(115, 21, 52, 0.3);
  border: transparent;
  padding: 10px 15px;
  margin: 15px 10px;
}

.admin-table {
  width: 95%;
  margin: auto;
}
.admin-table #myTable {
  /* thead {
      font-weight: bold;
      background-color: rgba(115, 21, 52, 0.3);
      height: 25px;
  } */
}
.admin-table #myTable tbody tr:nth-of-type(odd) {
  background-color: rgba(115, 21, 52, 0.15);
}

.pictoCategory {
  width: 3%;
}

.photoAdminActivity {
  position: relative;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photoAdminActivity img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.td-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.td-flex i {
  padding: 0 3px;
}

.pictureInGallery {
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.pictureInGallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-btn-style, .btn-style {
  background-color: rgba(115, 21, 52, 0.7);
  color: #FEEFDD;
  border-radius: 8px;
  padding: 8px 25px;
  display: block;
  text-align: center;
  width: 200px;
  margin: 12px auto;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.add-btn-style:hover, .btn-style:hover {
  background-color: #731534;
  color: #FEEFDD;
  transform: scale(1.05);
}

.btn-inscrire {
  background-color: rgba(115, 21, 52, 0.55);
  color: #FEEFDD !important;
  border-radius: 20px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-inscrire:hover {
  background-color: #731534;
  color: #FEEFDD !important;
}

.btn {
  background-color: #731534;
  border-radius: 50px;
  border: solid 1px #731534;
  color: #FEEFDD;
  display: block;
  width: 60%;
  margin: auto;
  padding: 6px 0;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #FEEFDD;
  border: solid 1px #FEEFDD;
  color: #731534;
  transform: scale(1.05);
}

.submit-btn {
  padding: 15px 30px;
  background-color: rgba(115, 21, 52, 0.6);
  color: #FEEFDD;
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  text-align: center;
  transition: all 0.5s ease-out;
}

.submit-btn:hover {
  background-color: #731534;
  color: #FEEFDD;
  transform: scale(1.05);
}

form {
  width: 70%;
  margin: 0 auto 30px auto;
}

.form-bgRed {
  width: 75%;
  background-color: rgba(115, 21, 52, 0.3);
  border-radius: 25px;
  padding: 5% 0;
  margin: 0 auto 30px auto;
}

.custom-input, input[readonly] {
  display: block;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #FEEFDD;
  border-radius: 5px;
  font-size: 1em;
  color: #731534;
  width: 100%;
  margin-bottom: 15px;
}

.custom-label {
  display: block;
  color: #731534;
  font-weight: bold;
  background-color: rgba(115, 21, 52, 0.2);
  border-radius: 5px;
  width: 100%;
  padding: 5px 0 5px 5px;
  margin: 3px 0;
}

#headerTopBar {
  background-color: #FEEFDD;
  padding: 10px 50px 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-right: auto;
}
#headerTopBar .search-container {
  width: 100%;
  max-width: 500px;
  margin-right: 10%;
}
#headerTopBar .search-container form.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  width: 100%;
}
#headerTopBar .search-container input[type=text] {
  width: 100%;
  background-color: rgba(115, 21, 52, 0.15);
  color: #731534;
  padding: 10px;
  border-radius: 15px 0 0 15px;
  font-size: 14px;
  outline: none;
}
#headerTopBar .search-container button {
  padding: 9px 15px;
  border: none;
  background-color: rgba(115, 21, 52, 0.5);
  font-size: 16px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
#headerTopBar .search-container button:hover {
  background-color: #731534;
}
#headerTopBar .search-container button:hover i {
  color: #FEEFDD;
}
#headerTopBar .rightPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
#headerTopBar .rightPart .loginBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  margin-right: auto;
}
#headerTopBar .rightPart .loginBlock a {
  color: #731534;
  font-size: 16px;
}
#headerTopBar .rightPart .loginBlock a .fa-circle-user {
  color: #731534;
  font-size: 18px;
  margin-right: 5px;
}
#headerTopBar .rightPart .loginBlock a.btn-inscrire {
  background-color: rgba(115, 21, 52, 0.6);
  margin-left: 15px;
}
#headerTopBar .rightPart .loginBlock a.deconnection {
  margin-left: 15px;
}
#headerTopBar .rightPart .loginBlock a.deconnection .fa-right-to-bracket {
  font-size: 18px;
  margin-right: 5px;
}
#headerTopBar .rightPart #iconLanguage {
  width: 10%;
}

#headerMainBar {
  background-color: #731534;
}
#headerMainBar .header-nav {
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
#headerMainBar .header-nav ul.menu-burger {
  display: none;
  width: 10%;
  padding: 2%;
  position: relative;
  z-index: 3000;
  background-color: #FEEFDD;
  border-radius: 10px;
}
#headerMainBar .header-nav ul.menu-burger li {
  margin: 5px 0;
  width: 100%;
  height: 3px;
  padding: 0;
  background-color: #731534;
  border-radius: 2px;
}
#headerMainBar .header-nav .logo {
  margin-left: 7%;
  margin-right: 12%;
  width: 4%;
}
#headerMainBar .header-nav ul.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
#headerMainBar .header-nav ul.nav li {
  padding: 0 2rem;
  text-transform: uppercase;
  font-size: 14px;
  text-align: start;
  color: #FEEFDD;
}
#headerMainBar .header-nav ul.nav li a {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #FEEFDD;
}
#headerMainBar .header-nav ul.nav #activites-nav .sous-menu-activites {
  display: none;
}
#headerMainBar .header-nav ul.nav #activites-nav.active {
  display: flex;
  flex-direction: column;
}
#headerMainBar .header-nav ul.nav #activites-nav.active .sous-menu-activites {
  display: block;
}

#activites-nav:hover {
  position: relative;
}
#activites-nav:hover .sous-menu-activites {
  display: block !important;
  text-align: start;
  position: absolute;
  background-color: rgba(115, 21, 52, 0.75);
  width: 350px;
  top: 0;
  left: 0;
  padding-top: 45px;
  padding-bottom: 10px;
}
#activites-nav:hover .sous-menu-activites li {
  text-align: start;
  padding: 5px 0;
}
#activites-nav:hover .sous-menu-activites li a, #activites-nav:hover .sous-menu-activites li i {
  color: rgba(254, 239, 221, 0.7);
  padding-left: 30px;
  transition: transform 330ms ease-in-out;
}
#activites-nav:hover .sous-menu-activites li:hover i {
  transform: translateX(15px);
}
#activites-nav:hover .sous-menu-activites li:hover a {
  color: #FEEFDD;
}

footer {
  background-color: #731534;
  padding: 15px 50px;
  margin: 0;
}
footer .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
footer .footer-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
footer .footer-nav ul:first-of-type li {
  padding: 0 10px;
}
footer .footer-nav ul:last-of-type li {
  padding: 0 3rem;
}
footer .footer-nav ul:last-of-type li a {
  font-size: 15px;
  text-align: center;
  color: #FEEFDD;
}
footer .footer-nav .iconFooter {
  font-size: 28px;
  color: #FEEFDD;
  margin: 0 5px;
}

#banner {
  background-image: url(../images/home/panorama_bordeaux.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  z-index: 1;
}
#banner h1 {
  margin-top: 0;
  font-size: 45px;
  font-weight: bold;
  position: relative;
  z-index: 100;
}
#banner::before {
  content: "";
  position: absolute;
  width: 67%;
  height: 50px;
  background-color: rgba(254, 239, 221, 0.5);
  left: 0;
  top: 31%;
  z-index: 10;
}

#menuInfosPratiques {
  width: 75%;
  margin: 7% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}

article {
  width: 15%;
}
article h3 {
  text-align: center;
  padding-top: 8%;
}
article .iconeInfosPratiques {
  width: 100%;
}
article .iconeInfosPratiques img {
  border-radius: 15%;
}

#menuDecouvrirBordeaux {
  width: 75%;
  margin: 7% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
#menuDecouvrirBordeaux article {
  width: 32%;
}
#menuDecouvrirBordeaux article h3:hover {
  opacity: 65%;
  transform: scale(1.1);
}
#menuDecouvrirBordeaux article img {
  border-radius: 30px;
}

#sortiesSemaine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: rgba(115, 21, 52, 0.3);
  margin: 7% 0;
}
#sortiesSemaine .imageArticle {
  width: 50%;
  height: inherit;
  overflow: hidden;
}
#sortiesSemaine .imageArticle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#sortiesSemaine .textArticle {
  padding-right: 2%;
  width: 40%;
}
#sortiesSemaine .textArticle h4 {
  position: relative;
  padding: 5px 0;
}
#sortiesSemaine .textArticle h4::after {
  content: "";
  position: absolute;
  width: 93%;
  height: 1px;
  background-color: #731534; /* Couleur de la ligne */
  right: -5%;
  bottom: 0;
}
#sortiesSemaine .textArticle p {
  margin: 9% 0;
}

#carousel-activities #carousel {
  background-color: rgba(87, 199, 223, 0.2);
  padding: 40px 0;
  margin-top: 2%;
}

#section-activities-by-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  margin: 3% 0;
}

.activities-one-category {
  width: 80%;
  margin: 2% auto;
}
.activities-one-category .title-category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  margin-bottom: 15px;
  position: relative;
}
.activities-one-category .title-category h2 {
  z-index: 10;
}
.activities-one-category .icon-category {
  width: 45px;
  padding-right: 15px;
}
.activities-one-category .activities {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  background-color: rgba(255, 191, 85, 0.1);
  padding: 0 2%;
}

.container-activity {
  width: 21%;
  color: #FEEFDD;
  overflow: hidden;
  border-radius: 10px;
}
.container-activity .info-activity {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 250px;
}
.container-activity .img-activity {
  width: 100%;
  height: inherit;
  overflow: hidden;
}
.container-activity .img-activity img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.container-activity .top-activity {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  padding: 2px 0;
  background-color: rgba(115, 21, 52, 0.5);
}
.container-activity .top-activity p {
  color: #FEEFDD;
  margin-right: 10px;
}
.container-activity .top-activity .pictogram {
  width: 30px;
  padding: 1% 2%;
  background-color: rgba(254, 239, 221, 0.5);
  border-radius: 10px;
}
.container-activity .appointment-activity {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  padding: 0 20px;
  background-color: rgba(254, 239, 221, 0.5);
}
.container-activity .appointment-activity p, .container-activity .appointment-activity i {
  color: #731534;
  font-size: 13px;
}
.container-activity .appointment-activity .location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.container-activity .appointment-activity i {
  margin-right: 5px;
}
.container-activity .title-activity h3 {
  color: #FEEFDD;
  background-color: #731534;
  font-size: 16px;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
  transition: all 0.5s ease-out;
}
.container-activity .title-activity h3:hover {
  color: #FFBF5F;
  transform: scale(1.02);
}

.title-bg-style {
  text-align: start;
}

.title-bg-style::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 191, 85, 0.5);
  width: 150px;
  height: 15px;
  left: 50px;
  bottom: 10px;
  z-index: 1;
}

#section-show-activity, #section-admin-show-activity {
  width: 80%;
  margin: auto;
}
#section-show-activity .show-activity, #section-admin-show-activity .show-activity {
  background-color: #FEEFDD;
  border-radius: 25px;
  margin: 2% auto;
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
#section-show-activity .show-activity .img-activity, #section-admin-show-activity .show-activity .img-activity {
  width: 100%;
  min-width: 200px;
  height: 218px;
  border-radius: 25px;
  overflow: hidden;
}
#section-show-activity .show-activity .img-activity img, #section-admin-show-activity .show-activity .img-activity img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section-show-activity .show-activity .infos-activity, #section-admin-show-activity .show-activity .infos-activity {
  background-color: rgba(115, 21, 52, 0.3);
  border-radius: 20px;
  padding: 20px 10px;
  margin: 0 20px;
  width: 100%;
  height: 218px;
  min-width: 200px;
}
#section-show-activity .show-activity .infos-activity p, #section-admin-show-activity .show-activity .infos-activity p {
  padding: 8px 0;
}
#section-show-activity .show-activity .infos-activity .group-title, #section-admin-show-activity .show-activity .infos-activity .group-title {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
#section-show-activity .show-activity .infos-activity .group-title .pictogram, #section-admin-show-activity .show-activity .infos-activity .group-title .pictogram {
  width: 15%;
  padding-right: 10px;
}
#section-show-activity .show-activity .text-activity p:first-of-type, #section-admin-show-activity .show-activity .text-activity p:first-of-type {
  padding: 10px 30px;
  text-align: justify;
}
#section-show-activity .show-activity .text-activity .organizer, #section-admin-show-activity .show-activity .text-activity .organizer {
  font-size: 13px;
  padding: 10px 30px;
  margin-top: 30px;
}
#section-show-activity .btn-style, #section-admin-show-activity .btn-style {
  display: block;
  background-color: rgba(115, 21, 52, 0.7);
  border-radius: 50px;
  border: transparent;
  width: 35%;
  margin: 15px auto;
  text-align: center;
  padding: 6px 0;
  transition: transform 0.3s ease;
}
#section-show-activity .btn-style a, #section-admin-show-activity .btn-style a {
  font-size: 15px;
  color: #FEEFDD;
}
#section-show-activity .btn-style:hover, #section-admin-show-activity .btn-style:hover {
  background-color: #731534;
  transform: scale(1.05);
}
#section-show-activity .btn-style:hover a, #section-admin-show-activity .btn-style:hover a {
  color: #FEEFDD;
}

#section-photos-gallery, #section-admin-photos-gallery {
  width: 80%;
  margin: 5% auto;
  background-color: #FEEFDD;
  border-radius: 25px;
  padding: 20px 0;
}
#section-photos-gallery h2, #section-admin-photos-gallery h2 {
  margin-bottom: 10px;
}
#section-photos-gallery .photos-from-gallery, #section-admin-photos-gallery .photos-from-gallery {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
#section-photos-gallery .photos-from-gallery .photo, #section-admin-photos-gallery .photos-from-gallery .photo {
  width: 23%;
  height: 25vh;
  overflow: hidden;
}
#section-photos-gallery .photos-from-gallery .photo img, #section-admin-photos-gallery .photos-from-gallery .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section-participants, #section-participants-for-admin {
  width: 80%;
  margin: 5% auto;
  background-color: #FEEFDD;
  border-radius: 25px;
  padding-bottom: 20px;
}
#section-participants h3, #section-participants-for-admin h3 {
  margin-bottom: 10px;
  padding: 15px 25px;
}
#section-participants p, #section-participants-for-admin p {
  padding: 0 15px;
}
#section-participants ul li, #section-participants-for-admin ul li {
  padding: 0 25px;
}
#section-participants .all-participants, #section-participants-for-admin .all-participants {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: 15px 25px;
}
#section-participants .all-participants .one-participant, #section-participants-for-admin .all-participants .one-participant {
  position: relative;
}
#section-participants .all-participants .one-participant .display-username, #section-participants-for-admin .all-participants .one-participant .display-username {
  display: none;
}
#section-participants .all-participants .one-participant .profilePicture, #section-participants-for-admin .all-participants .one-participant .profilePicture {
  width: 70px;
  height: 70px;
  margin: 0 7px;
  transition: transform 0.3s ease;
}
#section-participants .all-participants .one-participant .profilePicture:hover, #section-participants-for-admin .all-participants .one-participant .profilePicture:hover {
  transform: scale(1.02);
}
#section-participants .all-participants .one-participant .profilePicture:hover + .display-username, #section-participants-for-admin .all-participants .one-participant .profilePicture:hover + .display-username {
  display: block;
  font-size: 13px;
  color: #731534;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
}

#main-login {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)), url(../images/home/panorama_bordeaux.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#main-login h1 {
  margin-top: 0;
}

#section-login, #section-admin-login {
  /*.btn {
    background-color: $claretRed;
    border-radius: 50px;
    border: solid 1px $claretRed;
    color: $limestone;
    display: block;
    width: 60%;
    margin: auto;
    padding: 6px 0;
    transition: all 0.5s ease-out;
    cursor: pointer;
  }

  .btn:hover {
    background-color: $limestone;
    border: solid 1px $limestone;
    color: $claretRed;
    transform: scale(1.05);
  }*/
}
#section-login #login-form, #section-login #admin-login-form, #section-admin-login #login-form, #section-admin-login #admin-login-form {
  width: 45%;
  display: block;
  background-color: rgba(115, 21, 52, 0.3);
  border-radius: 25px;
  padding: 30px;
  margin: 0 auto 30px auto;
}
#section-login #login-form .inputWrapper, #section-login #admin-login-form .inputWrapper, #section-admin-login #login-form .inputWrapper, #section-admin-login #admin-login-form .inputWrapper {
  position: relative;
  margin: 50px 0;
  background-color: #FEEFDD;
}
#section-login #login-form .inputWrapper input, #section-login #login-form .inputWrapper label, #section-login #admin-login-form .inputWrapper input, #section-login #admin-login-form .inputWrapper label, #section-admin-login #login-form .inputWrapper input, #section-admin-login #login-form .inputWrapper label, #section-admin-login #admin-login-form .inputWrapper input, #section-admin-login #admin-login-form .inputWrapper label {
  display: block;
  width: 100%;
}
#section-login #login-form .inputWrapper label, #section-login #admin-login-form .inputWrapper label, #section-admin-login #login-form .inputWrapper label, #section-admin-login #admin-login-form .inputWrapper label {
  position: absolute;
  top: 0;
  left: 0;
  color: #731534;
  font-family: Josefin Sans, sans-serif;
  transition: 0.5s;
}
#section-login #login-form .inputWrapper input, #section-login #admin-login-form .inputWrapper input, #section-admin-login #login-form .inputWrapper input, #section-admin-login #admin-login-form .inputWrapper input {
  border: none;
  border-bottom: solid 1px #FEEFDD;
  background-color: transparent;
  padding: 3px 0;
  font-size: 16px;
}
#section-login #login-form .inputWrapper input:not(:placeholder-shown) + label, #section-login #login-form .inputWrapper input:focus + label, #section-login #admin-login-form .inputWrapper input:not(:placeholder-shown) + label, #section-login #admin-login-form .inputWrapper input:focus + label, #section-admin-login #login-form .inputWrapper input:not(:placeholder-shown) + label, #section-admin-login #login-form .inputWrapper input:focus + label, #section-admin-login #admin-login-form .inputWrapper input:not(:placeholder-shown) + label, #section-admin-login #admin-login-form .inputWrapper input:focus + label {
  transform: translateY(-30px);
}
#section-login .btn-inscription, #section-admin-login .btn-inscription {
  display: block;
  background-color: rgba(115, 21, 52, 0.7);
  border-radius: 50px;
  border: transparent;
  width: 27%;
  margin: 30px auto;
  text-align: center;
  font-size: 15px;
  color: #FEEFDD;
  padding: 6px 0;
}
#section-login .btn-inscription:hover, #section-admin-login .btn-inscription:hover {
  background-color: #FEEFDD;
  border: solid 1px #FEEFDD;
  color: #731534;
}

#section-inscription p {
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
}
#section-inscription #form-inscription .formInscription-identity1,
#section-inscription #form-inscription .formInscription-identity2,
#section-inscription #form-inscription .formInscription-presentation {
  background-color: rgba(254, 239, 221, 0.9);
  margin-bottom: 20px;
  padding: 4%;
  border-radius: 20px;
}
#section-inscription #form-inscription .formInscription-identity1 {
  background-color: rgba(115, 21, 52, 0.2);
}

#section-profile, #section-admin-profile {
  width: 75%;
  margin: auto;
}
#section-profile .profile, #section-admin-profile .profile {
  background-color: rgba(115, 21, 52, 0.5);
  border-radius: 20px;
  padding: 40px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
}
#section-profile .profile .profilePicture, #section-admin-profile .profile .profilePicture {
  width: 110px;
  height: 100px;
}
#section-profile .profile a, #section-admin-profile .profile a {
  align-self: flex-start;
  font-size: 20px;
}
#section-profile .profile .username, #section-admin-profile .profile .username {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  padding-bottom: 5%;
}
#section-profile .profile .presentation, #section-admin-profile .profile .presentation {
  width: 70%;
  padding: 0 30px;
}
#section-profile .profile .presentation p, #section-admin-profile .profile .presentation p {
  color: #FEEFDD;
  text-align: justify;
}
#section-profile .infos-personnelles, #section-admin-profile .infos-personnelles {
  background-color: rgba(115, 21, 52, 0.3);
  border-radius: 20px;
  margin: 15px 0;
  padding: 20px 50px;
}
#section-profile .infos-personnelles h2, #section-admin-profile .infos-personnelles h2 {
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
}
#section-profile .infos-personnelles .icon-action, #section-admin-profile .infos-personnelles .icon-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
}
#section-profile .infos-personnelles .icon-action a, #section-admin-profile .infos-personnelles .icon-action a {
  font-size: 20px;
  margin: 0 20px;
}
#section-profile .infos-personnelles .tableau, #section-admin-profile .infos-personnelles .tableau {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
#section-profile .infos-personnelles .tableau tr td:first-of-type, #section-admin-profile .infos-personnelles .tableau tr td:first-of-type {
  width: 200px;
  height: 20px;
}

.small-font {
  font-size: 11px;
}

#section-myActivities {
  width: 75%;
  margin: 5% auto;
  background-color: rgba(254, 239, 221, 0.7);
  border-radius: 20px;
  padding: 20px 0;
}
#section-myActivities h2 {
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
}
#section-myActivities .my-activities {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
#section-myActivities .my-activities .my-activity {
  position: relative;
  width: 20%;
  height: 25vh;
}
#section-myActivities .my-activities .my-activity h3 {
  color: #FEEFDD;
  background-color: rgba(115, 21, 52, 0.4);
  padding: 4px;
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%;
  transition: transform 0.3s ease, color 0.3s ease;
  z-index: 100;
}
#section-myActivities .my-activities .my-activity .img-my-activity {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#section-myActivities .my-activities .my-activity .img-my-activity img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

#section-myActivities .my-activities .my-activity:hover h3 {
  color: #731534;
  background-color: transparent;
  font-weight: bold;
  transform: scale(1.05);
}
#section-myActivities .my-activities .my-activity:hover .img-my-activity::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#section-myActivities .my-activities .my-activity:hover .img-my-activity img {
  filter: brightness(150%);
}

#section-picture-gallery {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0;
  flex-wrap: wrap;
}

.one-picture-in-gallery {
  width: 23%;
}
.one-picture-in-gallery .pictureInGallery {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  /* &:hover {
    transform: scale(1.15);
  } */
}
.one-picture-in-gallery .pictureInGallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.one-picture-in-gallery h2 {
  font-size: 16px;
  padding: 3px 0;
}

#section-update-user #form-update-profile .formUpdate-identity1,
#section-update-user #form-update-profile .formUpdate-identity2 {
  background-color: rgba(115, 21, 52, 0.35);
  margin-bottom: 20px;
  padding: 4%;
  border-radius: 20px;
}
#section-update-user #form-update-profile .formUpdate-identity2 {
  background-color: rgba(115, 21, 52, 0.2);
}
#section-update-user #form-update-profile input[readonly] {
  background-color: rgba(115, 21, 52, 0.15);
}

#mainPage404, #mainAdminPage404 {
  background-image: url(../images/photo-page-404.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
#mainPage404::before, #mainAdminPage404::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 2;
  pointer-events: none;
}

.section-page404 {
  position: relative;
  z-index: 10;
}
.section-page404 h1 {
  color: #731534;
  z-index: 100;
  position: relative;
}
.section-page404 .btn {
  text-align: center;
  width: 50%;
  z-index: 100;
  position: relative;
}

#mainPage403, #mainAdminPage403 {
  background-image: url(../images/photo-page-403.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -280px;
  position: relative;
  z-index: 1;
}
#mainPage403::before, #mainAdminPage403::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 2;
  pointer-events: none;
}

.section-page403 {
  position: relative;
  z-index: 10;
}
.section-page403 h1 {
  color: #731534;
  z-index: 100;
  position: relative;
}
.section-page403 .btn {
  text-align: center;
  width: 50%;
  z-index: 100;
  position: relative;
}

/* ---------- RESPONSIVE TABLETTE ---------- */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
/* ---------- RESPONSIVE TABLETTE ---------- */
@media screen and (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
/* ---------- RESPONSIVE SMARTPHONE ---------- */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  #headerTopBar {
    background-color: #731534;
    padding: 5px 10px;
  }
  #headerTopBar .search-container {
    display: none;
  }
  #headerTopBar .search-container.active {
    display: block !important;
    position: absolute;
    top: 50px;
    width: 60%;
    left: 30px;
    z-index: 3000;
    border-radius: 20px;
    background-color: #FEEFDD;
  }
  #headerTopBar .search-container.active .search-bar {
    width: 100%;
  }
  #headerTopBar .rightPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
  }
  #headerTopBar .rightPart a, #headerTopBar .rightPart i {
    color: #FEEFDD !important;
  }
  #headerTopBar .rightPart .loginBlock {
    margin-right: 5%;
  }
  #headerTopBar .rightPart .loginBlock a {
    font-size: 16px;
  }
  #headerTopBar .rightPart .loginBlock a .fa-circle-user {
    margin-right: 2px;
  }
  #headerTopBar .rightPart .loginBlock a.btn-inscrire {
    background-color: rgba(254, 239, 221, 0.4);
  }
  #headerTopBar .rightPart #iconLanguage {
    width: 30px;
    order: -1;
  }
  #headerMainBar {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2)), url(../images/home/panorama_bordeaux.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #headerMainBar .header-nav {
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  #headerMainBar .header-nav .logo {
    width: 10%;
    padding: 2% 3%;
    background-color: rgba(115, 21, 52, 0.5);
    border-radius: 50px;
  }
  #headerMainBar .header-nav ul.menu-burger {
    display: block !important;
    margin-left: auto;
    margin-right: 8%;
    order: 2;
    cursor: pointer;
  }
  #headerMainBar .header-nav ul.nav {
    display: none !important;
    transition: all 0.3s ease-in-out;
  }
  #headerMainBar .header-nav ul.nav.active {
    display: flex !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 0;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 50vh;
    background-color: #731534;
    padding: 150px 0 0 0;
    z-index: 2000;
  }
  #headerMainBar .header-nav ul.nav.active li {
    text-align: start;
    font-weight: normal;
    margin-left: 2%;
    width: 80%;
  }
  #headerMainBar .header-nav ul.nav.active #activites-nav .sous-menu-activites {
    display: block;
    /*&:hover {
      display: block!important;
    }*/
  }
  #headerMainBar .header-nav ul.nav.active #activites-nav .sous-menu-activites li {
    margin: 3%;
  }
  #headerMainBar .header-nav ul.nav.active #activites-nav .sous-menu-activites li a {
    font-size: 12px;
    color: rgba(254, 239, 221, 0.7);
  }
  #headerMainBar .header-nav ul.nav.active #activites-nav .sous-menu-activites li i {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  #headerTopBar .rightPart .loginBlock a {
    font-size: 15px;
  }
  #headerMainBar .header-nav ul.menu-burger {
    width: 8%;
  }
}
@media screen and (max-width: 1024px) and (max-width: 480px) {
  #headerTopBar .rightPart .loginBlock a {
    font-size: 12px;
  }
  #headerTopBar .rightPart .loginBlock a .fa-circle-user {
    margin-right: 2px;
  }
  #headerMainBar .header-nav ul.menu-burger {
    width: 12%;
  }
}
/* ---------- RESPONSIVE TABLETTE format paysage et petit ordinateur ---------- */
@media screen and (max-width: 1024px) {
  footer .footer-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  footer .footer-nav ul:last-of-type li {
    padding: 0 20px;
  }
  footer .footer-nav ul:last-of-type li a {
    font-size: 13px;
  }
}
/* ---------- RESPONSIVE SMARTPHONE et TABLETTE format portrait ---------- */
@media screen and (max-width: 769px) {
  footer .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  footer .footer-nav ul:first-of-type {
    order: 2; /* Le premier <ul> devient le second */
    margin: 15px 0;
  }
  footer .footer-nav ul:last-of-type {
    order: 1; /* Le second <ul> devient le premier */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  footer .footer-nav ul:last-of-type li {
    padding: 5px 0;
  }
  footer .footer-nav .toTheTop {
    margin-left: auto;
    order: -1;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #banner {
    display: none;
  }
  #menuDecouvrirBordeaux {
    width: 90%;
  }
}
/* ---------- RESPONSIVE SMARTPHONE et petite TABLETTE ---------- */
@media screen and (max-width: 768px) {
  #banner {
    display: none;
  }
  #menuInfosPratiques {
    width: 90%;
  }
  #menuInfosPratiques article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 18%;
  }
  #menuInfosPratiques article h3 {
    font-size: 14px;
    padding-top: 8%;
  }
  #menuDecouvrirBordeaux {
    width: 90%;
  }
  #menuDecouvrirBordeaux article {
    width: 32%;
  }
  #menuDecouvrirBordeaux article h3 {
    font-size: 14px;
  }
  #menuDecouvrirBordeaux article h3:hover {
    display: none;
  }
  #menuDecouvrirBordeaux article img {
    border-radius: 10px;
  }
  #sortiesSemaine {
    display: block;
    margin: 5% 0;
    position: relative;
  }
  #sortiesSemaine .imageArticle {
    width: 100%;
  }
  #sortiesSemaine .textArticle h4 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(115, 21, 52, 0.8);
    color: #FEEFDD;
    padding: 8px 0;
  }
  #sortiesSemaine .textArticle h4::after {
    display: none;
  }
  #sortiesSemaine .textArticle p {
    display: none;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  #menuInfosPratiques article h3 {
    font-size: 9px;
  }
  #menuDecouvrirBordeaux {
    width: 95%;
  }
  #menuDecouvrirBordeaux article h3 {
    font-size: 11px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  main #section-login #login-form, main #section-login #admin-login-form, main #section-admin-login #login-form, main #section-admin-login #admin-login-form {
    width: 70%;
  }
  main #section-login .btn, main #section-admin-login .btn {
    width: 100%;
  }
  main #section-login .btn-inscription, main #section-admin-login .btn-inscription {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  main #section-login #login-form, main #section-login #admin-login-form, main #section-admin-login #login-form, main #section-admin-login #admin-login-form {
    width: 80%;
  }
  main #section-login .btn, main #section-admin-login .btn {
    width: 100%;
  }
  main #section-login .btn-inscription, main #section-admin-login .btn-inscription {
    width: 80%;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  main #section-login #login-form, main #section-login #admin-login-form, main #section-admin-login #login-form, main #section-admin-login #admin-login-form {
    width: 90%;
  }
  main #section-login .btn, main #section-admin-login .btn {
    width: 100%;
  }
  main #section-login .btn-inscription, main #section-admin-login .btn-inscription {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .activities {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .container-activity {
    width: 30%;
    margin: 2% 0;
  }
  .title-activity h3 {
    font-size: 14px;
  }
  .icon-category {
    width: 5%;
  }
}
@media screen and (max-width: 780px) {
  .activities-one-category {
    width: 90%;
  }
  .container-activity {
    width: 48%;
    height: auto;
    margin-bottom: 20px;
  }
  .img-activity img {
    height: 200px;
  }
  .title-activity h3 {
    font-size: 12px;
    padding: 8px 0;
  }
}
@media screen and (max-width: 480px) {
  .title-category h2 {
    font-size: 18px;
  }
  .container-activity {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
  }
  .img-activity img {
    height: 150px;
  }
  .appointment-activity p, .appointment-activity i {
    font-size: 10px;
  }
}
@media screen and (max-width: 780px) {
  #section-picture-gallery {
    width: 90%;
  }
  .one-picture-in-gallery {
    width: 45%;
  }
}
/* RESPONSIVE TABLETTE */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  #section-show-activity, #section-admin-show-activity {
    width: 90%;
    margin: auto;
  }
  #section-show-activity .show-activity, #section-admin-show-activity .show-activity {
    margin: 2% auto;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
  }
  #section-show-activity .show-activity .img-activity, #section-admin-show-activity .show-activity .img-activity {
    width: 40%;
    min-width: 40%;
  }
  #section-show-activity .show-activity .infos-activity, #section-admin-show-activity .show-activity .infos-activity {
    width: 50%;
    min-width: 50%;
    margin: 0 10px;
  }
  #section-show-activity .show-activity .infos-activity .group-title .pictogram, #section-admin-show-activity .show-activity .infos-activity .group-title .pictogram {
    width: 8%;
  }
  #section-show-activity .show-activity .infos-activity .group-title h2, #section-admin-show-activity .show-activity .infos-activity .group-title h2 {
    font-size: 20px;
  }
  #section-show-activity .show-activity .infos-activity p, #section-admin-show-activity .show-activity .infos-activity p {
    font-size: 15px;
  }
  #section-show-activity .show-activity .text-activity, #section-admin-show-activity .show-activity .text-activity {
    margin-top: 20px;
  }
  #section-show-activity .show-activity .text-activity p:first-of-type, #section-admin-show-activity .show-activity .text-activity p:first-of-type {
    padding: 10px 0;
  }
  #section-show-activity .show-activity .text-activity .organizer, #section-admin-show-activity .show-activity .text-activity .organizer {
    font-size: 13px;
    padding: 10px 0;
    margin-top: 15px;
  }
  #section-show-activity .btn-style, #section-admin-show-activity .btn-style {
    width: 80%;
    padding: 9px 0;
    margin-bottom: 15%;
  }
  #section-participants {
    width: 90%;
  }
}
/* RESPONSIVE MOBILE */
@media screen and (max-width: 480px) {
  #section-show-activity .show-activity, #section-admin-show-activity .show-activity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  #section-show-activity .show-activity .img-activity, #section-admin-show-activity .show-activity .img-activity {
    width: 100%;
    min-width: 90%;
  }
  #section-show-activity .show-activity .infos-activity, #section-admin-show-activity .show-activity .infos-activity {
    width: 100%;
    min-width: 90%;
  }
  #section-show-activity .show-activity .infos-activity .group-title, #section-admin-show-activity .show-activity .infos-activity .group-title {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }
  #section-show-activity .show-activity .infos-activity .group-title .pictogram, #section-admin-show-activity .show-activity .infos-activity .group-title .pictogram {
    width: 10%;
  }
  #section-show-activity .show-activity .text-activity, #section-admin-show-activity .show-activity .text-activity {
    margin-top: 5px;
  }
  #section-show-activity .show-activity .text-activity p:first-of-type, #section-admin-show-activity .show-activity .text-activity p:first-of-type {
    padding: 10px 0;
  }
  #section-show-activity .show-activity .text-activity .organizer, #section-admin-show-activity .show-activity .text-activity .organizer {
    font-size: 13px;
    padding: 10px 0;
    margin-top: 15px;
  }
  #section-show-activity .btn-style, #section-admin-show-activity .btn-style {
    width: 100%;
    padding: 12px 0;
    margin-bottom: 15%;
  }
  #section-participants .all-participants {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }
}
@media screen and (max-width: 1024px) {
  #section-profile {
    width: 90%;
  }
  #section-profile .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5%;
  }
  #section-profile .profile div.presentation {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }
  #section-profile .profile div.presentation p {
    text-align: justify;
  }
  #section-profile .profile a {
    order: -1;
    margin-left: auto;
  }
  #section-profile .infos-personnelles {
    width: 100%;
    padding: 20px 10px;
  }
  #section-myActivities {
    width: 90%;
  }
  #section-myActivities .my-activities .my-activity {
    position: relative;
    width: 20%;
    height: 25vh;
  }
  /* RESPONSIVE TABLETTE */
  /* RESPONSIVE MOBILE */
}
@media screen and (max-width: 1024px) and (max-width: 768px) {
  #section-myActivities .my-activities .my-activity {
    position: relative;
    width: 30%;
    height: 25vh;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 480px) {
  #section-profile .profile div.presentation p {
    font-size: 14px;
  }
  #section-profile .infos-personnelles .tableau {
    width: 90%;
  }
  #section-profile .infos-personnelles .tableau tr td {
    font-size: 14px;
  }
}

/*# sourceMappingURL=app.css.map */
