html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}


* {
  font-family: "Josefin Sans", sans-serif;
  color: $claretRed;
}


//  ---------- TITRES - TEXTES ----------

h1 {
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  padding-top: 30px;
  //margin-top: 60px;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

h4 {
  font-size: 25px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1rem;
}


    .styleTitle {
      position: relative;
      text-align: center;
      padding: 10px 0 10px 0;
    }

    .styleTitle::before,
    .styleTitle::after {
      content: '';
      position: absolute;
      width: 65%;
      height: 1px;
      background-color: $claretRed; /* Couleur de la ligne */
    }

    .styleTitle::before {
      right: 0;
      top: 0;
    }

    .styleTitle::after {
      left: 0;
      bottom: 0;
    }


.small-font {
  font-size: 11px;
}


// ---------- IMAGES ----------

  // Effet cercle sur les images de profil
.profilePicture {
  border-radius: 55px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%; /* L'image occupe toute la hauteur du conteneur */
    object-fit: cover; /* Pour que l'image couvre tout le conteneur sans se déformer */
  }
}


// ---------- FORM ----------
form {
  margin-bottom: 30px!important;
}