
// Section avec toutes les activités de toutes les catégories
#section-activities-by-category {
  @include flex($flex-dir: column, $justify: flex-start);
  margin: 3% 0;
}

// Section : activités pour 1 catégorie
.activities-one-category {
  width: 80%;
  margin: 2% auto;

  //Bloc titre de la catégorie
  .title-category {
    @include flex($justify: flex-start);
    margin-bottom: 15px;
    position: relative;

    h2 {
      z-index: 10;
    }
  }


  .icon-category {
    width: 45px;
    padding-right: 15px;
  }

  // activités d'une catégorie (sans le bloc titre catégorie)
  .activities {
    //width: 80%;
    //margin: auto;
    @include flex($justify: flex-start, $gap: 15px);
    flex-wrap: wrap;
    background-color: rgba(255,191,85,0.1);
    padding: 0 2%;
  }
}

// Affichage d'une activité
.container-activity {
  width: 21%;
  //height: 300px;
  color: $limestone;
  overflow: hidden;
  border-radius: 10px;


  .info-activity {
    position: relative;
    @include flex($flex-dir: column, $justify: space-between);
    height: 250px;
  }

  .img-activity {
    width: 100%;
    height: inherit;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
    }
  }

  .top-activity {
    position: absolute;
    top: 0;
    @include flex($justify: space-between);
    width: 100%;
    padding: 2px 0;
    background-color: rgba(115, 21, 52, 0.5);

    p {
      color: $limestone;
      margin-right: 10px;
    }

    .pictogram {
      width: 30px;
      padding: 1% 2%;
      background-color: rgba(254, 239, 221, 0.5);
      border-radius: 10px;
    }
  }

  .appointment-activity {
    position: absolute;
    bottom: 0;
    @include flex($flex-dir: row, $justify: space-between);
    width: 100%;
    padding: 0 20px;
    //font-size: 14px;
    background-color: rgba(254, 239, 221, 0.5);

    p, i {
      color: $claretRed;
      font-size: 13px;
    }

    .location {
      @include flex($flex-dir: row, $justify: space-between);
    }

    i {
      margin-right: 5px;
    }

  }

  .title-activity h3 {
    color: $limestone;
    background-color: $claretRed;
    font-size: 16px;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
  }

}


// Titles

.title-bg-style {
  text-align: start;
}

.title-bg-style::before {
  content: "";
  position: absolute;
  background-color : rgba(255,191,85,0.5);
  width  : 150px;
  height : 15px;
  left: 50px;
  bottom: 10px;
  z-index: 1;
}
