#main-login {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)), url(../images/home/panorama_bordeaux.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //height: 67vh;

  h1 {
    margin-top: 0;
  }
}

#section-login, #section-admin-login {

  #login-form, #admin-login-form {
    width: 45%;
    display: block;
    background-color: rgba(115, 21, 52, 0.3);
    border-radius: 25px;
    padding: 30px;
    margin: 0 auto 30px auto;

    .inputWrapper {
      position: relative;
      margin: 50px 0;
      background-color: $limestone;


      input, label {
        display: block;
        width: 100%;
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        color: $claretRed;
        font-family: Josefin Sans, sans-serif;
        transition: .5s;
      }

      input {
        border: none;
        border-bottom: solid 1px $limestone;
        background-color: transparent;
        padding: 3px 0;
        font-size: 16px;
      }

      input:not(:placeholder-shown) + label, input:focus + label {
        transform: translateY(-30px);
      }

    }

  }

  /*.btn {
    background-color: $claretRed;
    border-radius: 50px;
    border: solid 1px $claretRed;
    color: $limestone;
    display: block;
    width: 60%;
    margin: auto;
    padding: 6px 0;
    transition: all 0.5s ease-out;
    cursor: pointer;
  }

  .btn:hover {
    background-color: $limestone;
    border: solid 1px $limestone;
    color: $claretRed;
    transform: scale(1.05);
  }*/



  .btn-inscription {
    display: block;
    background-color: rgba(115, 21, 52, 0.7);
    border-radius: 50px;
    border: transparent;
    width: 27%;
    margin: 30px auto;
    text-align: center;
    font-size: 15px;
    color: $limestone;
    padding: 6px 0;
  }

  .btn-inscription:hover {
    background-color: $limestone;
    border: solid 1px $limestone;
    color: $claretRed;
  }
}



