#section-picture-gallery {
  width: 70%;
  margin: auto;
  @include flex($justify: space-around, $align: flex-start);
}

.one-picture-in-gallery {
  margin: 0 3%;

  .pictureInGallery {
    position: relative;
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }
}

